body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(135deg, #f5a623, #f29d27);
    margin: 0;
    overflow: hidden;
}
.flashcard-container{
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 360px;
  margin-bottom: 60px;
}
.flashcard{
  width: 90%;
  height: 180px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  margin: 0 auto;
}

.flashcard.is-flipped{
    transform:rotateY(180deg);
}
.flashcard div{
    position: absolute;
    width: 100%;
    height: 70%;
    backface-visibility: hidden;
    border-radius: 15px;
    background: linear-gradient(135deg,#f5f7fa,#c3cfe2);
    display: flex;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    font-size: 1.1em;
}

.back{
transform:rotateY(180deg);
}

button{
    margin: 10px;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background-color: #ff5722;
    color:white;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ,transform 0.2s;
}

button:hover{
    background-color: #e64a19;

}

button:active{
    transform: scale(0.95);
}


